In [2]:
print("Sunny")

Sunny

Data Types

In [5]:
a = 1
b = True
c = "sunny"
d = 1.57

print("Data type of", a, "is", type(a))
print("Data type of", b, "is", type(b))
print("Data type of", c, "is", type(c))
print("Data type of", d, "is", type(d))

Data type of 1 is <class 'int'>
Data type of True is <class 'bool'>
Data type of sunny is <class 'str'>
Data type of 1.57 is <class 'float'>

Print Statement and Escape sequences

In [7]:
print("I am very \"Intelligent\" \n and Working as\' a ML Engineer" )

I am very "Intelligent"
 and Working as' a ML Engineer

##Typecasting

In [ ]:
a = "1"
b = "9"

print(a+b)
print(int(a)+int(b))

19
10

In [36]:
name = "sunny"
print("Hello," + name)

Hello,sunny

Accessing Characters of a String

In [44]:
name = "Sunnyraj"

print(name[0])
print(name[1])
print(name[2])

S
u
n

Looping through the string

In [37]:
name = "Sunnyraj Dadaji Aher"

In [40]:
for i in name:
    print(i)

S
u
n
n
y
r
a
j

D
a
d
a
j
i

A
h
e
r